/* Header Section */
header {
  background-image: url("path-to-your-background-image.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 4em 0;
  font-family: "Montserrat", sans-serif; /* Use Montserrat font */
}

.hero {
  max-width: 800px;
  margin: 0 auto;
}

.name-header {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  color: #007bff; /* Light blue color for the name */
}

.tagline {
  font-size: 1.5em;
  margin-bottom: 2em;
  color: #999;
}

.contact-links {
  font-size: 1.2em;
  color: #ccc;
}

.social-links {
  margin-top: 2em;
}

.social-links a {
  font-size: 1.5em;
  color: #fff;
  margin: 0 0.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff; /* Light blue color on hover */
}

/* Work Experience Section */
#experience {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
  padding: 2em;
}

.experience-item {
  margin-bottom: 2em;
}

.experience-item h3 {
  font-size: 1.5em;
  color: #fff; /* Light text color */
}

.experience-item strong {
  font-weight: bold;
}

/* Education Section */
#education {
  background-color: #444; /* Dark background color */
  color: #fff; /* Light text color */
  padding: 2em;
}

.education-item {
  margin-bottom: 2em;
}

.education-item h3 {
  font-size: 1.5em;
  color: #fff; /* Light text color */
}

.education-item strong {
  font-weight: bold;
}

/* Skills Section */
#skills {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
  padding: 2em;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* Projects & Awards Section */
#projects {
  background-color: #444; /* Dark background color */
  color: #fff; /* Light text color */
  padding: 2em;
}

.project-item {
  margin-bottom: 2em;
}

.project-item h3 {
  font-size: 1.5em;
}

.project-item strong {
  font-weight: bold;
}

/* Collapsible Sections */
.collapsible {
  background-color: #777; /* Dark gray background color */
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.collapsible:hover {
  background-color: #f1f1f1; /* Light gray background color on hover/active */
  color: #333;
  font-weight: bold;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content p {
  padding: 12px 0;
}
